# --------------------------------------------------------------------
# Ignore Mac files

.DS_Store

# --------------------------------------------------------------------
# Ignore Maven builds

*/target

# --------------------------------------------------------------------
# Ignore IntelliJ IDEA files

.idea/
*.iml
*/*.iml
mbox_tools.iml